.Song {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}
.Song:hover {
  background-color: #111;
}
.Song-cover {
  min-width: 160px;
  height: 160px;
}
.Song-cover-image {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #846170, #70929c);
  background-size: cover;
  background-position: 50% 50%;
}
.Song-info {
  padding: 10px;
}

.Song-title {
  font-size: 1.4em;
}

.Song.selected {
  background-color: #111;
}
